<footer>
    <div class="row">
        <p><span>Todos los derechos reservados Ecosistemas Digitales.</span></p>
        <p><span>Sitio web desarrollado Usando rails</span></p>   
    </div>     
</footer>